.card{
    margin: 20px;
    width: 400px;
    
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 10px #cccc;
    font-family: "Lato", sans-serif;
    
}

body{
    background-color: rgb(23, 74, 168);
}

.tarjeta{
    
    display: flex;
    
    }

.card-content{
 padding: 15px;
 }

.card img{
width: 100%;
}

.tarjeta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}

nav img{
    width: 100px;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color:black;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

nav{
    background-color: aqua;
    border-radius: 10px;
}

footer{
background-color: rgb(53, 238, 238);
padding: 10px;
 border-radius: 10px;
 text-align: center;
 font-family: "PT Sans", sans-serif;
font-weight: 400;
 font-style: italic;
}

.card:hover{
background-color: aquamarine;
transform: scale(1.02); 
    }
.texto{
font-family: "PT Sans", sans-serif;
font-weight: 700;
font-style: normal;
color: azure;
    }


.conteiner{
display: flex; 
justify-content: space-evenly; 
align-items: center;
width: 100%; 
height: 200px;
    }
    
.images{
 display: flex; 
justify-content: space-around;
 align-items: center;
}
    
.images img{
width: 200px; 
height: 200px; 
object-fit: contain; 
}
    
.text{
 display: flex; 
 flex-direction: column;
justify-content: space-around; 
 align-items: flex-start; 
    }

.conteiner{
    margin: 30px;
    padding: 15px;
}